nav{
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	size: 16px;
	color: #333333;
	line-height: 46px;
}

/* ===================== Create General ========================== */
.create-title,
.edit-title{
	margin-top: 100px;
	margin-bottom: 30px;
}
/* ===================== Create Book ============================== */

input[type='file']
{
	background: #cccccc;
	color: #000000;
}

/* ================ App Book index ============================= */

.zoom {
	overflow: hidden;
}

.zoom {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.div-card-col{

}

.div-card{
	max-width: 286px;
	height: 100%;
}

.div-card-img{
	max-width: 286px;
	height: 180px;
}

.card-body {
	background: rgb(161,19,255);
	background: linear-gradient(90deg, rgba(161,19,255,1) 100%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}

.card-body,
.card-title,
.btn-card-rent,
p{
	color: #fff;
	font-weight: 500;
	font-family: Helvetica, Arial, sans-serif;
}

h5, .card-title{
	font-weight: 800;
}

.btn-card-rent{
	background: #00ff2a;
}

.btn-card-rent:hover{
	background: #06d027;
}

